<%= form_tag('/lends/', :method => :post)  %>

  <h2> What would you like to borrow? </h2>

  <div>
    From: <%= current_user.email %>
  </div>

</br>
  <div class="field">
    Item: <%= text_field_tag "item_name" %>
  </div>
  
  <div class="actions">
    <%= submit_tag 'Create Request' %>
  </div>
