<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3> Confirmation </h3>
    <div class="modal-body">
      <div id="star"></div> 
    </div>
  </div>
</div>

<%= render :partial => "form_script", :format =>[:js] %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/flick/jquery-ui.css" />
