<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hello <%= @user_to.email %>
    <p>
      Congratulation! <%= @user_from.email %> agrees to lend you <%= @item.name %>. Please return by <%= @return_date %>.<br>
    </p>
    <p>Thanks for using SnapBack!</p>
  </body>
</html>