/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 */

.nav {
	top:25px;
	position: relative;
}

.navbar a:hover, .nav a:hover {
	text-decoration: none;
	color: #0064cc;
	background-color: transparent;
}

.float {
	float: left;
	margin-right: 20px;
}

.label {
	width: 85px;
	color: black !important;
	background-color: white !important;
	font-weight: normal !important;
}

.glyphw {
    background-image: url(/assets/images/glyphicons-halflings-white.png);
}

#btn_filter {
	-webkit-user-select: none;
}
.tagView {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	min-width: 160px;
	height: 500px;
	-webkit-user-select: none;
}

 .tagView input {
 	margin-left: 20px !important;
 }